
body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
}

p{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}


h1{
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  margin:15px auto 8px;
}

.formDef{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.formDef label{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
}
.formDef input{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  margin-bottom: 15px;
  margin-top: 5px;
}

.wrapper{
    background-color: rgb(247, 250, 251);
    width: auto;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    padding-bottom: 25px;
}

.content{
  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align:center;
}

ul{
  padding:0;
  margin-bottom:15px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

ul li{
  margin: 4px 10px;
  padding: 10px 20px;
  list-style-type:none;
  border: 1px solid #00bcd4;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
}


button {
    width: 180px;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: px 15px;
    color: white;
    line-height: 25px;
    background-color: #00bcd4;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    transition: all 150ms ease-in;
    outline: none;
  }


a{
  flex-direction:column;
  justify-content:center;
  text-align:center;
  color: #e74c3c;
  position: relative;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  margin-top:10px;
}

a:hover{
  color: #222;
}



a:before{
  top: 0;
  left: 0;
}

a:after{
  top: 100%;
  right: 0;
}

a:hover:before, a:hover:after{
  width: 100%;
}

.error{
  color:red;
  display:inline;
  text-align:center;
  padding-bottom:10px;
}
.registered{
    background-color: rgba(181, 196, 197, 0.28);
    margin: 20px auto 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items:center;
    border: 1px solid  lightgrey;
    padding: 22px;

}
.invitation{
    background-color: rgba(181, 196, 197, 0.28);
    margin: 20px auto 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items:center;
    border: 1px solid  lightgrey;
    padding: 22px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
     transition: all 1s ease;
}

.invitation>button{
  margin:auto 20px;
}
.invitation>span{
  margin:auto 20px;
  font-weight: bold;
}

#accept{
 background-color: #47cc59;
}
#decline{
 background-color: #b53948;
}

.slide-fade-enter-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-leave-active {
  transition: all .7s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to, .slide-fade-leave-active{
  transform: translateX(10px);
  opacity: 0;
}




.game{
    background-color: rgba(181, 196, 197, 0.28);
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items:center;
    border: 1px solid  lightgrey;
    padding: 25px;
}

.game > img{
  margin:0 10px;
}

.game > img:hover{
  cursor:pointer;
  -moz-transform: scale(1.3);
-webkit-transform: scale(1.3);
-o-transform: scale(1.3);
-ms-transform: scale(1.3);
transform: scale(1.3);

}

.main{
    background-color: rgb(247, 250, 251);
    margin: 20px auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction:column;
    justify-content: space-between;
    -webkit-flex-justify-content: space-between;
    -ms-flex-justify-content: space-between;
    align-items: stretch;
    -webkit-flex-justify-align-items: stretch;
    -ms-flex-justify-align-items: stretch;
    border: 1px solid lightgrey;
    padding: 25px;
    height: 300px;
}

.row {
  display: flex;
  font-size: 30px;
  font-weight: 800;
  justify-content: center;
  flex-direction: row;
}

.row-but {
  display: flex;
  font-size: 30px;
  font-weight: 800;
  justify-content: center;
  flex-direction: row;
}

.main button {
  line-height: 42px;
  font-size: 18px;
  font-weight: 800;
  background-color: #ff5656;
}


.chat{
    background-color: rgba(225, 253, 255, 0.28);
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: flex-start;
    border: 1px solid  lightgrey;
    padding: 25px;
}

#target{
  color:#ff0000b0;
  flex-direction:column;
  justify-content:center;
  text-align:center;
  color: #e74c3c;
  position: relative;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  padding-left:10px;
}

#target:hover{
  cursor:pointer
}




.row-33 {
  width: 33%;
  text-align: center;
}

.row-100 {
    text-align: center;
    width: 100%;
}

input#chat {
    line-height: 20px;
    width: 250px;
}

ul.chat-messages{
  padding:0;
  margin-bottom:15px;
  display:flex; 
  flex-direction: column-reverse;
  align-items: flex-start;
}

.status-ready{
  color:#00c100;
}

.status-busy{
  color: #a50000;
}

.status-playing{
  color: #a50000;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.disabled-force {
  pointer-events: none;
  opacity: 0.4;
}
.winnerWindow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #1c961c;
    height: 300px;
}

@media only screen and (max-width: 600px) {
  .main{
    height:200px
  }
  
  .row {
    font-size: 20px;
    font-weight: 600;
  }

  .game{
    margin: 20px auto;
    padding: 25px;
  }

  img{
    width:55px;
    height:55px;
    margin:0 10px;
  }

  input#chat {
    margin-bottom:8px;
  }

  
  .winnerWindow {
    font-size: 20px;
    color: #1c961c;
    height: 300px;
  }


}


button.logout-button {
  background-color: #ff4b4b;
}

[v-cloak] { 
  display: none; 
}

.hidden, [hidden] { 
  display: none; 
}
