<%- include('header'); -%>

<body>
  <div id='app'>
    <div class="wrapper">
      <h1>Greetings, <span id='username'><%= username %></span>!</h1>
      <div id="content"></div>
      <ul><b> Players Online : </b>
        <li v-for="user in users">{{ user }}<span v-on:click="sendInv(user)" id='target'> PvP</span></li>
      </ul>
      <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
      </form>
    </div>

    <%- include('game'); -%>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="client.js"></script>


</body>

</html>