<%- include('header'); -%>

<body>
  <div class="wrapper">
    <span class="registered" ></span>
    <h1>Login</h1>
    <span class="error"><% if (messages.error) { %>
    <%= messages.error %>
    <% } %></span>
    <form action="/login" method="POST" class='formDef'>
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit" >Login</button>
    </form>
    <a href="/register">Register</a>
  </div>
</body>
<script>
    var tmp = [];
    var result = '';
    $('.registered').hide();
    window.location.search.substr(1).split("&")
        .forEach(function (item) {
          tmp = item.split("=");
          if (tmp[0] === 'registered')
              result = true;
        });
    if(result){
      
      $('.registered').show();
      $('.registered').text('Registration succesfull. You can now log in!');
    }
</script>