<div class='game'>
    <img src="img/rock.png" alt="rock" height="150px" width='150px' class="turn" id='rock'>
    <img src="img/scissors.png" alt="scissors" height="150px" width='150px' class="turn" id='scissors'>
    <img src="img/paper.png" alt="paper" height="150px" width='150px' class="turn" id='paper'>
    <img src="img/lizard.png" alt="lizard" height="150px" width='150px' class="turn" id='lizard'>
    <img src="img/spok.png" alt="spok" height="150px" width='150px' class="turn" id='spok'>
</div>
<!-- <div class='chat'>
    <ul>
        <li v-for="message in messages"></li>
    </ul>

</div> -->