<div id="game" v-if='gameOn'>
    <div class="main">
        <div class='row' v-if='winnerWindow == "hidden"'>
            <div class='row-33'>{{user}}</div>
            <div class='row-33'>{{scores.join(' : ')}}</div>
            <div class='row-33'>{{opponent}}</div>
        </div>
        <div class='row' v-if='winnerWindow == "hidden"'>
            <div class='row-33'><img v-if='turnClass=="disabled"' v-bind='{src: "img/" + turnID + ".png"}'  v-bind='{alt: turnID}' height="150px" width='150px' ><span v-else>Make a choice!</span></div>
            <div class='row-33'><div class='row-100'>Round {{roundNum}}</div><div class='row-100'>{{timer}}</div></div>
            <div class='row-33'><img v-if='turnOponentID' v-bind='{src: "img/" + turnOponentID + ".png"}'  v-bind='{alt: turnID}' height="150px" width='150px' ><span v-else>Thinking..</span></div>
        </div>
        <div v-bind='{class: winnerWindow}'> THE WINNER IS {{globalWinner}}!!! </div>
        <div class='row-but'>
            <div class='row-100'><button type="button" @click ='leaveGame()'>Leave Game</button></div>
        </div>
    </div>
    <div class='game' v-bind:class='turnClass'>
        <img src="img/rock.png" @click="turn($event)" alt="rock" height="150px" width='150px' class="turn" id='rock'>
        <img src="img/scissors.png" @click="turn($event)" alt="scissors" height="150px" width='150px' class="turn" id='scissors'>
        <img src="img/paper.png" @click="turn($event)" alt="paper" height="150px" width='150px' class="turn" id='paper'>
        <img src="img/lizard.png" @click="turn($event)" alt="lizard" height="150px" width='150px' class="turn" id='lizard'>
        <img src="img/spock.png" @click="turn($event)" alt="spock" height="150px" width='150px' class="turn" id='spock'>
    </div>
    <div class='chat'>
        <div class="chat-form-cont">
        <form id="chat-form">
            <input id="chat" autocomplete="off" title="chat" v-model = 'msg'/>
            <button id="SEND" @click='sendToChat($event)'>SEND</button>
        </form>
        </div>
        <ul class="chat-messages">
            <li v-for="message in messages">{{message}}</li>
        </ul>

    </div>
</div>
